.empleado-info {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .empleado-info p {
    margin: 0;
    padding: 10px 0;
  }
  
  .empleado-info span {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .empleado-info input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
  }
  
  .registro-options label {
    display: inline-block;
    margin-right: 10px;
  }
  
  #registroBox:checked + label {
    font-weight: bold;
    color: green;
  }
  